[submodule "thirdparty/cutlass"]
	path = thirdparty/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "Codegen/compiler/asmjit"]
	path = Codegen/compiler/asmjit
	url = https://github.com/asmjit/asmjit.git
[submodule "Codegen/compiler/pybind11"]
	path = Codegen/compiler/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "thirdparty/AITemplate"]
	path = thirdparty/AITemplate
	url = https://github.com/facebookincubator/AITemplate.git
[submodule "/workspace/sparseTraining/thirdparty/FlexFlow"]
	path = /workspace/sparseTraining/thirdparty/FlexFlow
	url = https://github.com/flexflow/FlexFlow.git
[submodule "/workspace/sparseTraining/thirdparty/DeepLearningExample"]
	path = /workspace/sparseTraining/thirdparty/DeepLearningExample
	url = https://github.com/NVIDIA/DeepLearningExamples.git
[submodule "/workspace/sparseTraining/thirdparty/SSGC"]
	path = /workspace/sparseTraining/thirdparty/SSGC
	url = https://github.com/allenhaozhu/SSGC.git
[submodule "thirdparty/raf"]
	path = thirdparty/raf
	url = https://github.com/awslabs/raf
[submodule "/workspace/sparseTraining/thirdparty/tvm"]
	path = /workspace/sparseTraining/thirdparty/tvm
	url = https://github.com/apache/tvm
