*.pyc
*.so
*.o
build/*
Codegen/compiler/compiled_cache.db
dist/sptrain-0.0.1-py3.8-linux-x86_64.egg
src/sptrain.egg-info/*
thirdparty/*
*.svg
*.png
*.db
=0.7
.vscode/settings.json
*.model
*.txt
*.onnx
