*.pyc
*.o
build/*
Codegen/compiler/compiled_cache.db
dist/sptrain-0.0.1-py3.8-linux-x86_64.egg
src/sptrain.egg-info/*
*.svg
*.png
=0.7
.vscode/settings.json
*.model
*.txt
*.onnx
scratch_space/*
src/sptrain.egg-info/PKG-INFO
benchmark/bert/delete_id.py
benchmark/gnmt_deprecated/*
Codegen/compiler/build/*
Codegen/torchscript/build/*
*.dot
GNMT/*
.vscode/*
benchmark/gat/dataset/*
unittest/unit/dataset/*
Codegen/torchscript/*
src/sptrain.egg-info/PKG-INFO
Codegen/torchscript/spmm.cpp
GNMT_/*
benchmark/bert/bert_raf.py
benchmark/gcn/dataset/*
figures/section3/test/*
figures/section3/profiler/*
*.tsv
python/build/*
.hypothesis/unicode_data/13.0.0/charmap.json.gz
python/gtl.egg-info/PKG-INFO
**/torchinductor*/
unittest/fx_passes/dataset/*
unittest/evt_fuser/dataset/*
benchmark/subgraphs/bert/tmp/*
benchmark/subgraphs/xmlcnn/tmp/*
benchmark/operator/*
